* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.About,
.services,
.Resources,
.Login,
.sign-up,
.Class10,
.Class12 {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.About {
  background-color: rgba(162, 173, 217, 0.8);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}


.Resources {
  background-color: rgba(162, 173, 217, 0.8);
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.Login {
  background-color: rgba(162, 173, 217, 0.8);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-color: rgba(162, 173, 217, 0.8);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.Class10 {
  background-color: rgba(162, 173, 217, 0.8);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.Class12 {
  background-color: rgba(162, 173, 217, 0.8);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the container takes up the full viewport height */
}

.scrollable-content {
  flex-grow: 1; /* Allows the content to fill available vertical space */
  overflow-y: auto; /* Makes the content scrollable if it exceeds the container height */
}

.sticky-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
}
